img{border:0px;}

#top {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 150px;
    border:1px solid #dddddd;
}

#bottom {
    position: relative;
    background-color: #ffffff;
    padding: 0px;
    margin: 10px -20px 0px -20px;
    height: 150px;
    border:1px solid #dddddd;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 5px;
    min-height: 500px;
    border:1px solid #dddddd;
    border-bottom: 4px solid #5297cb;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  /* color: white; */
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.topbarMenuBlue {
    border-bottom: dodgerblue 4px solid; 
    height: 27px;
}

.topbarMenuGreen {
    border-bottom: green 4px solid; 
    height: 27px;
}

.topbarLogo {
   height: 124px;
}

.topMenuButton {
 float: right;
}

.greyButton {
 border-top-color: #ADA6A5;border-right-color: #ADA6A5;border-bottom-color: #545454;border-left-color: #ADA6A5;border-width: 1px 1px 1px 1px;border-style: solid; -webkit-border-radius: 0px; -moz-border-radius: 0px;border-radius: 0px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 20px 5px 20px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #030202;
 background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#707070));
 background-image: -webkit-linear-gradient(top, #FFFFFF, #707070);
 background-image: -moz-linear-gradient(top, #FFFFFF, #707070);
 background-image: -ms-linear-gradient(top, #FFFFFF, #707070);
 background-image: -o-linear-gradient(top, #FFFFFF, #707070);
 background-image: linear-gradient(to bottom, #FFFFFF, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#707070);
}

.blueButton {
    border:1px solid #04244F; -webkit-border-radius: 0px; -moz-border-radius: 0px;border-radius: 0px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 20px 5px 20px;  text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #030202;
    background-color: #0793F0; background-image: -webkit-gradient(linear, left top, left bottom, from(#0793F0), to(#0E427D));
    background-image: -webkit-linear-gradient(top, #0793F0, #0E427D);
    background-image: -moz-linear-gradient(top, #0793F0, #0E427D);
    background-image: -ms-linear-gradient(top, #0793F0, #0E427D);
    background-image: -o-linear-gradient(top, #0793F0, #0E427D);
    background-image: linear-gradient(to bottom, #0793F0, #0E427D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0793F0, endColorstr=#0E427D);
}

.greenButton {
    border:1px solid #048215; -webkit-border-radius: 0px; -moz-border-radius: 0px;border-radius: 0px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 20px 5px 20px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #000000;
    background-color: #15D95E; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#15D95E), to(#004505));
    background-image: -webkit-linear-gradient(top, #15D95E, #004505);
    background-image: -moz-linear-gradient(top, #15D95E, #004505);
    background-image: -ms-linear-gradient(top, #15D95E, #004505);
    background-image: -o-linear-gradient(top, #15D95E, #004505);
    background-image: linear-gradient(to bottom, #15D95E, #004505);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#15D95E, endColorstr=#004505);
}

.naglowekLogin{
    float:left;
    
}

.naglowekLogin h1{
    width:550px;
    float:left;
    margin:30px 0 20px 0px;
    color:silver;
    font-size:42px;
    text-align:center;
    border:0px;
}
.klientLogin{
    margin:100px 0 0 22px;
    float:left;
    width:310px;
    padding:0;
    background-image: url("../resources/images/button_green_1.png");
    background-repeat:no-repeat;
    background-position: 180px 60px;
    height:290px;
}

.klientLogin p a{
    width:172px;
    display: block;
    margin:92px 200px 0 0;
    text-align:right;
    font-size:20px;
    font-weight: normal;
    color:#545454;
    text-decoration:none;
}

.zalogujLogin{
    margin:60px 0 40px 0;
    float:left;
    width:320px;
    background-image: url("../resources/images/zaloguj_1.png");
    background-repeat:no-repeat;
    background-position: 0px 0px;
    
    height:320px;
}

.doradcaLogin{
    margin:100px 0 0 0;
    float:left;
    width:310px;
    background-image: url("../resources/images/button_blue_1.png");
    background-repeat:no-repeat;
    background-position: 2px 60px;
    height:290px;
}

.doradcaLogin p a{
    width:190px;
    display:block;
    margin:92px 0px 0 125px;
    text-align:left;
    font-size:20px;
    color:#545454;
    text-decoration:none;
}

.checkItLogin{
    background-image: url("../resources/images/kropka_1.png");
    background-repeat:no-repeat;
    background-position: 0px 0px;
    clear:both;
    margin:0 0 0 450px;
    width:220px;

    height:70px;
}

.checkItLogin p a{
    width:140px;
    display:block;
    text-decoration:none;
    padding: 8px 0;
    margin:0px 80px;
    text-align:left;
    font-size:20px;
    color:#545454;
    
}

/** WATERMARK CSS!!! **/
/** chorme and safari **/
::-webkit-input-placeholder {
	font-weight: normal !important;
        padding-left: 20px;
}
 
/** firefox **/
:-moz-placeholder {
	font-weight: normal !important;
        padding-left: 20px;
}
 
/** IE **/
.ui-watermark {
	font-weight: normal !important;
        padding-left: 20px;
}

ul{
    
    margin:20px 0;
    padding:0 22px;
    color:#5297cb;
    height:150px
}

li{
    color:black;
    margin:0px 0 3px 0px;
    width:350px;
    padding:8px 0 0 0;
}
li.headerList{
    margin:5px -22px 0;
    padding:5px 10px;
    height:20px;
    border-left: 3px solid #5297cb;
    font-weight: bold;
    list-style-type: none;
}

li.regularList{
    border-bottom: 2px solid #5297cb;

}

