body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: auto;
    width: 1000px;
    height: auto;
    border:1px solid #000000;
    padding: 30px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h2{
    border-left:4px solid #5297cb;
    padding-left: 10px;
    font-size: 24px;
}

h3{
    font-weight: bold;
    border-left:3px solid #5297cb;
    font-size: 20px;
    padding: 5px 0 5px 10px;

}

h4{
    border-left:3px solid #5297cb;
    font-size: 16px;
    padding: 5px 0 5px 10px;
}

h5{
    border-right:3px solid #5297cb;
    font-size: 16px;
    margin: 0;
    display: inline;
}

h6{
    border-left:3px solid #5297cb;
    font-size: 13px;
    margin: 0;
    padding-left: 5px;
}



p:column {
    white-space:pre-line;
}


.navibar{
    float: left;
    width: 45%; 
    min-height: 15px;
    margin: 3px; 
}

.newsletter{
    float: right;
    width: auto;
    min-height: 15px;
    margin: 3px 0; 
}

.field{
    /*    float: left;*/
    width: 100%; 
    min-height: 15px;
    margin: 24px 3px;   
}

.uploaderLabel{
    float: left;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
    text-align: right;
    margin: 3px;
    margin-right: 5px;
    width: 450px; 
    text-align: left;
}

.label{
    float: left;
    width: 40%;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
    text-align: right;
    margin: 3px;
    margin-right: 5px;
}

.label3
{
    width: 100%;
    float: left;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
    text-align: right;
    margin: 3px;
    margin-right: 5px;
}



.fontGrey 
{
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
}

.fontBlack
{
    letter-spacing: 1pt;
    color: #000000;
    font-family: Arial;
    font-weight:bold;
}

.fontBlue
{
    letter-spacing: 1pt;
    color: cornflowerblue;
    font-family: Arial;
    font-weight:bold;
}

.label2{
    float: left;
    width: 340px;
    min-height: 20px;
    padding: 2px;
    font-size: 14px;
    clear: both;
    letter-spacing: 1pt;
    color: #000000;
    font-family: Arial;
    font-weight:bold;

}

.leftBox{
    border:0px solid #dddddd;
    width: 50%;
    float: left;
}

.rightBox{
    border:0px solid #dddddd; 
    width: 40%;
    float: left;
}

.contentBox{
    width: 100%;
    overflow: hidden;
}

.leftThinerBox{
    /*    border:1px solid #dddddd;*/
    width: 430px;
    margin: 15px;
    margin-left: 0px;
    min-height: 300px; 
    float: left;
}

.rightWiderBox{
    /*    border:1px solid #dddddd; */
    width: 480px;
    margin: 15px 0px 15px 0px;
    min-height: 300px;
    float: right;
    
}

.leftInlineBox
{
    width: 430px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 74px;
    min-height: 300px; 
    display: inline-block;
}

.rightInlineBox
{
    width: 480px;
    margin: 15px 0px 15px 0px;
    min-height: 300px;
    display: inline-block;
    vertical-align: top;
}


.redUnderlineLink{

    color: crimson;
    margin-left: 5px;
    text-decoration: underline;
}

.greyBackground {
    background-color:  lightgrey;
}

.buttonspace{
    margin:0 5px;
}

.solidText {

    margin-left: 50px;
    margin-right: 20px;
    text-align: justify;
}

.bottomTable {
    margin-top: 20px;
    border-top: dodgerblue 4px solid; 
}


.leftTable{
    width:500px;
    float:left;

}

.rightTable{
    width:380px;
    float:right;
    min-height: 450px;
}

.centerSuccessBox{
    border:1px solid #dddddd;
    width: 980px;
    margin: 0px;
    height: 200px; 
    float: left;
}

.centerFillBox{
    border:1px solid #dddddd;
    width: auto;
    margin: 0px;
    margin-top: 20px;
    min-height: 30px; 
    display: block;
}

.dialog
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    border-radius: 0px;
}

.dialogFillBox
{
    display: block;
    min-height: 30px; 
    width: auto;
    margin: 0px
}

.newsletterInput
{
    width: 250px;
    margin-right: 20px;
}

#marketLogoBar
{
    min-height: 190px;
}

#red_envelope
{
    float: left; 
    margin-right: 10px; 
    margin-top: 10px; 
    margin-left: 70px;
}

#spaceFiller
{
    min-height: 128px;
}

.bigMenuButton
{
    float: right;
    margin-right: 50px;
}

.messagesBox{
    overflow: hidden; 
}

.messagesBox:nth-child(even)
{
background:#F0F5F5;
} 

.messagesBox:nth-child{
    background: #CCCCCC;
}

.messagesBoxContentLeft{
    width: 55%; 
    float: left;
    padding-top: 10px;
}

.messagesBoxContentRight{
    margin-top: 10px;
    margin-left: 5%;
    width: 20%;
    float: right;
}

.messagesBoxLink{
    padding-left: 20px;
}

.messagesGrayRectangle{
    font-size: 10px;
    font-weight: bold;
    padding: 6px;
}

.messagesTitle{
    top: 100px;
    left: 160px;
}


.redMessage
{
    font: bold 14px Arial, sans-seriff;
    color: red    
}

.oneColumnLengthButton
{
    text-align: center; 
    margin-right: 30px;
    margin-left: 30px;
    width: 328px;
}


.greenLeftBorder {
    border-left: 3px solid green;
}

.greenRightBorder {
    border-right: 3px solid green;
}

.greenLink {
    color: green;
    font-weight: bold;
}
.marginTB20
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginLR30
{
    margin-left: 30px;
    margin-right: 30px;
}


.marginT10
{
    margin-top: 10px;
}

.marginR5
{
    margin-right: 5px;
}

.marginT50
{
    margin-top: 50px;
}

.marginB30
{
    margin-bottom: 30px;
}

.marginLRT30
{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.marginL20
{
    margin-left: 20px;
}

.photoChange
{
    display: inline-block; 
    width: 25%; 
    margin: 10px 0px 0px 10px;
}

.photoChangeText
{
    display:inline-block; 
    width: 71%; 
    margin-left: 3px; 
    text-align: justify;
}

.browseInput
{
    margin-top: 5px;
    margin-left: 10px; 
    display: inline; 
    width: 60%
}

.browseButton
{
    margin-top: 2px; 
    margin-left: 5px;
    margin-bottom: 10px
}

.wordSpace
{
    margin-right: 6px;
}

.centerLink
{
    width: 100%; 
    text-align: center;
}

.adressSection
{
    width:45%; 
    display: inline-block;
}

.invoiceSection
{  
    width:45%;
    margin-left: 80px; 
    display: inline-block;
}

.invoiceSectionContent
{

    vertical-align: top; 
    border-left: 3px solid #5297cb;
}

.floatR
{
    float: right;
}

.floatL
{
    float: left;
}

.blackTitle
{
    font:bold 30px Arial, sans-serif; 
    float: left;
    margin-left: 10px;
    width: 500px;
}

.boldDays
{
    font-size:  16px; 
    font-weight: bold;
}

.profileText
{
    margin-left: 3px;
}

.bluePRO
{
    color: #0793F0; font-weight: bold;  font-size: 20px
}

.smallTitle
{
    font-weight: bold;
    font-size: 18px
}

.contentLogo
{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.profilLogo
{
    margin-right: 10px;
    float: left;
}

.profilBar
{
    border-bottom: dodgerblue 4px solid;
    min-height: 150px;
}

.profileBarThin
{
    padding-bottom: 5px;
    border-bottom: dodgerblue 4px solid;
}

.marketLeft 
{
    margin-right: 75px
}

.paymentExpire  
{
    margin-left: 3px; 
    font-weight: bold;
}

.spacer
{
    margin-left: 10px;
    margin-right: 10px;
    width: 3px;
}

.borderedInput
{
    border: 1px solid #AFAFAF
}

.height120
{
    min-height: 120px;   
}


.blueLine
{

}

.greenLine
{
    border-bottom: green 4px solid;
}

.topGreenLine
{
    border-top: green 4px solid;
}
.wideButton
{
    text-align: center; 
    min-width: 130px; 
    padding: 5px 0 5px 0;
}

.smallCenterInput
{
    max-width: 60px;
    text-align: center;
}

.redX {
    border-top-color: #ADA6A5 !important;
    border-right-color: #ADA6A5 !important;
    border-bottom-color: #545454 !important;
    border-left-color: #ADA6A5 !important;
    border-width: 1px 1px 1px 1px !important; 
    border-style: solid !important; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size:12px !important;
    font-family:arial, helvetica, sans-serif;
    padding: 5px 20px 5px 20px !important; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #D20005;
    background-color: #FFFFFF; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#707070)) url(x.png) no-repeat;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #707070) ;
    background-image: -moz-linear-gradient(top, #FFFFFF, #707070);
    background-image: -ms-linear-gradient(top, #FFFFFF, #707070);
    background-image: -o-linear-gradient(top, #FFFFFF, #707070);
    background-image: linear-gradient(to bottom, #FFFFFF, #707070);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#707070); 
}

.boldItem {
    float: right;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.search{
    position: absolute;
    top: 165px;
    right: 0px; 
}

.topTitle{
    border-bottom: 4px solid #5297cb;
    font-size: 22px;
    padding: 2px;
}

.inputWidth
{
    width: 55%;
}

.inputWidth2
{
    width: 57%;
}

.inputWidth3
{
    width: 37%
}

.rateSection{
    right:20px;
    padding:5px 3px;
    margin:15px 0 0 0;
    width: 220px;
}

.category{
    margin-top: 40px;
}

.invalid{
    color: red;
    font-weight: bold;
    float:right;
    margin-top: 2px;
    margin-bottom: 0px;
    clear: both;
}

.invalid2{
    color: red;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
    position: absolute;
}


.calendar{
    width: 206px;
}

.hasDatepicker
{
    width: 206px;
}

.dialogLabel
{
    float: left;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
    text-align: right;
    margin: 12px 5px 3px 3px;
    
}

#test{
    display: inline;
    width: 30%;
}


/*WAITING INDICATOR*/
#circular3dG{
position:relative;
width:128px;
height:128px;
}

.circular3dG{
position:absolute;
background-color:#3974DB;
width:36px;
height:36px;
-moz-border-radius:38px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:0.8800000000000001s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:38px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:0.8800000000000001s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:38px;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:0.8800000000000001s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:38px;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:0.8800000000000001s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:38px;
animation-name:bounce_circular3dG;
animation-duration:0.8800000000000001s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circular3d_1G{
left:52px;
top:8px;
-moz-animation-delay:0.33s;
-webkit-animation-delay:0.33s;
-ms-animation-delay:0.33s;
-o-animation-delay:0.33s;
animation-delay:0.33s;
}

#circular3d_2G{
left:78px;
top:30px;
-moz-animation-delay:0.44000000000000006s;
-webkit-animation-delay:0.44000000000000006s;
-ms-animation-delay:0.44000000000000006s;
-o-animation-delay:0.44000000000000006s;
animation-delay:0.44000000000000006s;
}

#circular3d_3G{
left:94px;
top:58px;
-moz-animation-delay:0.55s;
-webkit-animation-delay:0.55s;
-ms-animation-delay:0.55s;
-o-animation-delay:0.55s;
animation-delay:0.55s;
}

#circular3d_4G{
left:88px;
top:86px;
-moz-animation-delay:0.66s;
-webkit-animation-delay:0.66s;
-ms-animation-delay:0.66s;
-o-animation-delay:0.66s;
animation-delay:0.66s;
}

#circular3d_5G{
left:54px;
top:94px;
-moz-animation-delay:0.7700000000000001s;
-webkit-animation-delay:0.7700000000000001s;
-ms-animation-delay:0.7700000000000001s;
-o-animation-delay:0.7700000000000001s;
animation-delay:0.7700000000000001s;
}

#circular3d_6G{
left:10px;
top:62px;
-moz-animation-delay:0.8800000000000001s;
-webkit-animation-delay:0.8800000000000001s;
-ms-animation-delay:0.8800000000000001s;
-o-animation-delay:0.8800000000000001s;
animation-delay:0.8800000000000001s;
}

#circular3d_7G{
left:0px;
top:18px;
-moz-animation-delay:0.99s;
-webkit-animation-delay:0.99s;
-ms-animation-delay:0.99s;
-o-animation-delay:0.99s;
animation-delay:0.99s;
}

#circular3d_8G{
left:22px;
top:0px;
-moz-animation-delay:1.1s;
-webkit-animation-delay:1.1s;
-ms-animation-delay:1.1s;
-o-animation-delay:1.1s;
animation-delay:1.1s;
}

.msgUserHeader{
    font-size: 16px;
    padding-left: 10px;
}

.headerColor2{
    border-left: 3px solid #5297CB;
}

.headerColor3{
    border-left: 3px solid green;
}

.area{
    width: 300px;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}



