body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: auto;
    width: 1000px;
    border:1px solid #000000;
    padding: 30px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h2{
    border-left:4px solid #5297cb;
    padding-left: 10px;
    font-size: 28px;
}

h4{
    border-left:3px solid #5297cb;
    font-size: 16px;
    padding: 5px 0 5px 10px;
}

a:link, a:visited {
  /*color: #045491;*/
  font-weight : bold;
  text-decoration: none;
}

p:column {
    white-space:pre-line;
}

a:link:hover, a:visited:hover  {
  /*color: #045491;*/
  font-weight : bold;
  text-decoration : underline;
}

.navibar{
    float: left;
    width: 45%; 
    min-height: 15px;
    margin: 3px; 
}

.newsletter{
    float: right;
    width: 45%; 
    min-height: 15px;
    margin: 3px; 
}

.field{
/*    float: left;*/
    width: 100%; 
    min-height: 15px;
    margin: 3px;   
}

.label{
    float: left;
    width: 40%;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
    text-align: right;
    margin-right: 5px;
}

.label2{
    float: left;
    width: 340px;
    min-height: 20px;
    padding: 2px;
    font-size: 14px;
    clear: both;
    letter-spacing: 1pt;
    color: #000000;
    font-family: Arial;
    font-weight:bold;
}

.leftLoginBox{
    border:1px solid #dddddd;
    width: 480px;
    margin: 15px;
    margin-left: 0px;
    height: 700px; 
    float: left;
}

.rightLoginBox{
    border:1px solid #dddddd; 
    width: 450px;
    margin: 40px 0px 0px 0px;
    height: 700px;
    float: right;
}


.redUnderlineLink{
    
    color: crimson;
    margin-left: 5px;
    text-decoration: underline;
}

.greyBackground {
    
    background-color:  lightgrey;
}

.solidText {
    
    margin-left: 50px;
    margin-right: 20px;
    text-align: justify;
}

.bottomTable {
    margin-top: 20px;
    padding-top: 20px;
    border-top: dodgerblue 4px solid; 
}

.centerSuccessBox{
    border:1px solid #dddddd;
    width: 980px;
    margin: 0px;
    height: 200px; 
    float: left;
}

.centerFillBox{
    border:1px solid #dddddd;
    width: auto;
    margin: 0px;
    min-height: 140px; 
    float: left;
    border-bottom: 4px solid #5297cb;
}

