body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: auto;
    width: 1000px;
    border:1px solid #000000;
    padding: 30px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h2{
    border-left:4px solid #5297cb;
    padding-left: 10px;
    font-size: 28px;
}

a:link, a:visited {
  /*color: #045491;*/
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  /*color: #045491;*/
  font-weight : bold;
  text-decoration : underline;
}

.field{
    float: left;
    width: 100%; 
    min-height: 15px;
    margin: 0 0 9px 0;
    
}

.label{
    float: left;
    width: 40%;
    min-height: 15px;
    clear: both;
    letter-spacing: 1pt;
    color: #868686;
    font-family: Arial;
    font-weight:bold;
}

.label2{
    float: left;
    width: auto;
    min-height: 16px;
    padding: 2px;
    font-size: 16px;
    clear: both;
    letter-spacing: 1pt;
    color: #000000;
    font-family: Arial;
    font-weight:bold;
}

.leftLoginBox{
    border:1px solid #dddddd;
    width: 400px;
    margin: 15px;
    height: 700px; 
    float: left;
}

.rightLoginBox{
    border:1px solid #dddddd; 
    width: 450px;
    margin: 15px;
    height: 700px;
    float: right;
}
