/* 
    Document   : green
    Created on : 2013-07-17, 10:41:29
    Author     : XaI
    Description:
        Purpose of the stylesheet follows.
*/

h2{
    border-left:4px solid green;
    padding-left: 10px;
    font-size: 24px;
}

h3{
    font-weight: bold;
    border-left:3px solid green;
    font-size: 20px;
    padding: 5px 0 5px 10px; 
}

h4{
    border-left:3px solid green;
    font-size: 16px;
    padding: 5px 0 5px 10px;
}

h5{
    border-right:3px solid green;
    font-size: 16px;
    margin: 0;
    display: inline;
}

h6{
    border-left:3px solid green;
    font-size: 13px;
    margin: 0;
    padding-left: 5px;
}
.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 0px 5px;
    min-height: 500px;
    border-bottom: 4px solid green;
    padding-bottom: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active .ui-state-focus {
    background: green;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: green;
}

.ui-widget-content a {
    color: green;
}

.profileBarThin
{
    padding-bottom: 5px;
    border-bottom: green 4px solid;
}

.profilBar
{
    border-bottom: green 4px solid;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight 
{
    color: green;
}

.ui-dialog .ui-dialog-title{
    color: black;  
    border-left: 3px solid rgb(85,184,103);
    padding-left: 10px;
    font-size: 18px;
}



TR.ui-widget-content.ui-datatable-odd.ui-state-highlight{   
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #00a01a 88%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(88%,#00a01a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8e 0%,#00a01a 88%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#00a01a',GradientType=0 ); /* IE6-9 */
}

TR.ui-widget-content.ui-datatable-even.ui-state-highlight{
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #00a01a 88%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(88%,#00a01a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#00a01a 88%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8e 0%,#00a01a 88%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#00a01a',GradientType=0 ); /* IE6-9 */
}

TR.ui-widget-content.ui-datatable-even.ui-state-hover{ 
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #48b558 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(87%,#48b558)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8e 0%,#48b558 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#48b558',GradientType=0 ); /* IE6-9 */
}


TR.ui-widget-content.ui-datatable-odd.ui-state-hover{
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #48b558 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(87%,#48b558)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#48b558 87%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8e 0%,#48b558 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#48b558',GradientType=0 ); /* IE6-9 */
    
}
