.ui-widget-content.ui-datatable-even{
    background: none repeat scroll 0 0 #E7E3E3;
    text-align: center;
    font-size: 11px;

}

.ui-widget-content.ui-datatable-odd{
    background: none repeat scroll 0 0 #ADADAD;
    text-align: center;
    font-size: 11px;

}

ui-dialog-content ui-widget-content {
    background:none;
    color: #000000;
}

.ui-dialog{
    background: white;
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header{
    background: white;
    border-bottom: 0px solid rgb(0, 153, 224);
}

.ui-dialog .ui-dialog-title{
    color: black;  
    border-left: 3px solid rgb(85,184,103);
    padding-left: 10px;
    font-size: 18px;
}


.ui-widget-overlay {
    background: url("/regForms/faces/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png?ln=primefaces-aristo") repeat-x scroll 50% 50% rgb(45, 89, 114);
    opacity: 0.3;
    
}

.ui-widget{
    font-size: 13px;
}

.ui-datatable.ui-widget{
    font-size: 13px;
}

.ui-datatable-data.ui-widget-content{
    font-size: 12px;
}

.ui-datepicker-calendar{
    background: #ADADAD;
}

.ui-datatable thead th{   
    white-space: pre-wrap;
    border:1px solid #757575; 
    padding-left: 3px;
    padding-right: 1px;
    font-size: 10px;
    text-align: left;
}

.ui-datatable tbody td, .ui-datatable tfoot td {
    white-space: pre-wrap;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

TR.ui-widget-content.ui-datatable-odd.ui-state-highlight{   
    background: cadetblue;
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);  
}

TR.ui-widget-content.ui-datatable-even.ui-state-highlight{
    background: cadetblue;
     background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);   
}

TR.ui-widget-content.ui-datatable-even.ui-state-hover{ 
    background: cadetblue;
     background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);
}


TR.ui-widget-content.ui-datatable-odd.ui-state-hover{
    background: cadetblue;
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);  
}



.ui-datatable-footer.ui-widget-header.ui-corner-bottom{
    min-height: 22px;
    
}

.ui-datatable table
{
    border-collapse:collapse;
    width:100%;
}

.ui-datatable .ui-datatable-header,.ui-datatable .ui-datatable-footer
{
    text-align:center;
    padding:4px 4px !important;
}

.ui-datatable .ui-datatable-header
{
    order-bottom:0px none;
}

.ui-datatable .ui-datatable-footer
{
    border-top:0px none;
}

.ui-datatable thead th, .ui-datatable tfoot td
{
    text-align:center;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td
{
    padding:4px 4px !important; 
    overflow:hidden;
    white-space: normal!important;
    border-width:1px;
    border-style:solid;
}

.ui-selectmanycheckbox tbody tr{
    width: 330px;
    float: left;
}

.obligationDialogBox .hasDatepicker{
    width:162px;
}

.ui-state-disabled{
   opacity: 1;
}