/target/
/src\main\webapp\resources\images/Thumbs.db
/src\main\webapp\WEB-INF/web.xml
/src\main\webapp\WEB-INF/web.xml
/faces-config.NavData
/src\main\webapp\WEB-INF/web.xml
/src\main\resources/hibernate.cfg.xml
