/* 
    Document   : cssForm
    Created on : 2013-05-29, 14:08:54
    Author     : EI GLOBAL
    Description:
        Purpose of the stylesheet follows.
*/

.bodyheadtop{
    padding-top: 50px;
}
.bodyheadbuttom{
    padding-bottom: 50px;
}
.bodytextbutton{
    width: 700px; margin-left: auto; margin-right: auto;
    padding-bottom: 20px;
    display: block;
}
.bodytexttop{
    padding-top: 15px;
}
.borderdesignhead{
   border-bottom: 5px solid #3333ff; border-left: 1px solid #3333ff; border-right: 1px solid #3333ff;
}
.borderbeau{
    border-bottom: 3px solid #3333ff; border-left: 1px solid #3399ff; border-right: 3px solid #3333ff; border-top: 1px solid #3399ff;
    margin-bottom: 15px;
}
.borderbeau2{
    border-bottom: 3px solid #3333ff; border-left: 1px solid #3399ff; border-right: 3px solid #3333ff; border-top: 1px solid #3399ff;
    margin-bottom: 50px;
}
.borderbeauhead{
    border-bottom: 3px solid #3333ff; margin-bottom: 10px;
}
.vmargin{
    width: 800px; margin-left: auto; margin-right: auto;
}
.vmargintable{
    width: 90%; margin-left: auto; margin-right: auto;
    position: relative;
}
.cent{
    position: relative; left: 50%;
}
.right{
    position: relative; left: 75%;
}
.paraleft{
    position: relative; left: 3%;
}
.relativeR{
    position: relative; right: 0px; margin-left: 40%; margin-right: auto;
}
.absoluteR{
    position: absolute; right: 0px; left: auto; margin-right: 60%; text-align: right;
}
.floatR{
    float: right; margin-right: 10%;
}
