/* 
    Document   : cssForm
    Created on : 2013-05-29, 14:08:54
    Author     : EI GLOBAL
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: #3399ff;
  font-weight : bold;
  text-decoration : underline;
}
#borderlines{
    border: 20px solid gold;
/*    margin: 10px;*/
}

.bodyheadtop{
    padding-top: 50px;
}
.bodyheadbuttom{
    padding-bottom: 25px;
}

.bordertop{
    border-left: 1px solid #3333ff; border-right: 1px solid #3333ff; border-top: 1px solid #3333ff;
}
.borderdesign{
   border-bottom: 5px solid #3333ff; border-left: 1px solid #3333ff; border-right: 1px solid #3333ff; border-top: 0px;
   margin-bottom: 0px;
}
.borderdesignhead{
   border-bottom: 5px solid #3333ff; border-left: 1px solid #3333ff; border-right: 1px solid #3333ff;
}
.borderdesign2{
   border-bottom: 1px solid #3333ff; border-left: 1px solid #3333ff; border-right: 1px solid #3333ff; border-top: 0px;
   margin-bottom: 0px;
}
.borderbeau{
    border-bottom: 3px solid #3333ff; border-left: 1px solid #3399ff; border-right: 3px solid #3333ff; border-top: 1px solid #3399ff;
    margin-bottom: 10px;
}
.borderbeauhead{
    border-bottom: 3px solid #3333ff; margin-bottom: 10px;
}
.vmargin{
    /*background-color: white;*/
    /*margin: 10px;*/
    /*width: 796px; margin-left: auto; margin-right: auto;*/
    width: 800px; margin-left: auto; margin-right: auto;
}
.vmargintable{
    /*background-color: white;*/
    /*margin: 10px;*/
    /*width: 796px; margin-left: auto; margin-right: auto;*/
    width: 90%; margin-left: auto; margin-right: auto;
}
.cent{
    position: relative; left: 50%;
}
.topimage{
    background:url("../../resources/photo/zm1.jpg") no-repeat; width: auto; height: 90px;
    position: relative;
}
.bodyimage{
    background:url("../../resources/photo/bg1.png") repeat-y; width: auto; height: auto;
    position: relative;
}
.relativeR{
    position: relative; right: 0px; margin-left: 40%; margin-right: auto;
}
.relativeRR{
    position: relative; right: 0px; margin-left: 70%; margin-right: auto;
}
.relativeL{
    position: relative; left: 150px; margin-right: auto;
}
.centmain{
    width: 700px; margin-left: auto; margin-right: auto; 
    /*margin: 10px;*/ 
    /*border: 2px solid gold;*/
}
.centmain-img{
    width: 1200px; margin-right: auto; margin-left: auto;
}
.absoluteR{
    position: absolute; right: 0px; left: auto; margin-right: 60%; text-align: right;
}
.absoluteRE{
    position: absolute; right: 21%; left: auto; 
    /*margin-right: 100%; text-align: right;*/
}
.absoluteL{
    position: absolute; left: 0px; right: auto; margin-left: 60%;
}
.floatR{
    float: right; margin-right: 10%;
}

/*styles for tables*/
.employeeTable{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.employeeTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}
