

.ui-widget-content.ui-datatable-even{
   background: none repeat scroll 0 0 #ffffff;	
}

.ui-widget-content {
    background:none;
}
.ui-widget{
    font-size: small;
}

.ui-datepicker-calendar{
    background: #ffffff;
}

.ui-datatable thead th{   
    white-space: pre-wrap;
    border:1px solid #757575; 
    padding-left: 3px;
    padding-right: 1px;
    font-size: 10px;
    text-align: left;
}

.ui-datatable tbody td, .ui-datatable tfoot td {
    white-space: pre-wrap;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

TR.ui-widget-content.ui-datatable-odd.ui-state-highlight{   
       background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);  
}

TR.ui-widget-content.ui-datatable-even.ui-state-highlight{   
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);   
}

TR.ui-widget-content.ui-datatable-even.ui-state-hover{   
     background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);
}


TR.ui-widget-content.ui-datatable-odd.ui-state-hover{
     background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(133, 178, 203);  
}