<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.0.8:3306/System4?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">userrice</property>
    <property name="hibernate.connection.password">userrice123</property>
    <mapping class="sql.entity.KlienciKredyty"/>
    <mapping class="sql.entity.Kredyty"/>
    <mapping class="sql.entity.Klienci"/>
    <mapping class="sql.entity.KlienciKredytyId"/>
    <mapping class="sql.entity.Uzytkownik"/>
  </session-factory>
</hibernate-configuration>
